<div class="login-component">
    <div class="login-container">
        <nz-card
            [nzBordered]="false"
            [nzTitle]="'SIGN_IN' | translate"
        >
            <form
                nz-form
                [formGroup]="loginForm"
                (ngSubmit)="signIn()"
            >
                <nz-form-item>
                    <nz-form-control [nzErrorTip]="'INVALID_EMAIL' | translate">
                        <nz-input-group nzPrefixIcon="mail">
                            <input
                                type="text"
                                nz-input
                                [placeholder]="'EMAIL' | translate"
                                formControlName="email"
                            >
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control [nzErrorTip]="'INVALID_PASSWORD' | translate">
                        <nz-input-group
                            nzPrefixIcon="lock"
                            [nzSuffix]="suffixTemplatePassword"
                        >
                            <input
                                [type]="visible ? 'text' : 'password'"
                                nz-input
                                [placeholder]="'PASSWORD' | translate"
                                formControlName="password"
                            >
                        </nz-input-group>
                    </nz-form-control>
                    <ng-template #suffixTemplatePassword>
                        <i
                            nz-icon
                            [nzType]="visible ? 'eye-invisible' : 'eye'"
                            (click)="visible = !visible"
                        ></i>
                    </ng-template>
                </nz-form-item>

                <button
                    type="submit"
                    nz-button
                    nzType="primary"
                    nzBlock
                    [nzLoading]="loading"
                >
                    {{'SIGN_IN' | translate}}
                </button>
            </form>
        </nz-card>
    </div>
</div>
