.page-not-found-component {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #001529;
    color: #ffffff;
    height: 100vh;

    h1 {
        color: #ffffff;
    }

    a {
        &:hover {
            text-decoration: underline;
        }
    }
}