<nz-layout class="app-layout">
    <nz-sider
        class="menu-sidebar"
        nzCollapsible
        nzWidth="256px"
        nzBreakpoint="lg"
        [nzCollapsedWidth]="0"
        [(nzCollapsed)]="isCollapsed"
        [nzTrigger]="null"
    >
        <div class="sidebar-logo">
            <a routerLink="/">
                <h1>
                    <img
                        src="/assets/images/todo-list-100.png"
                        alt="To-Do logo"
                    >
                    {{'APP_NAME' | translate}}
                </h1>
            </a>
        </div>

        <ul
            nz-menu
            nzMode="inline"
            nzTheme="dark"
        >
            <li
                *ngFor="let item of navItems"
                nz-menu-item
                nzMatchRouter
            >
                <i
                    nz-icon
                    [nzType]="item.icon"
                ></i>
                <a [routerLink]="item.href">{{item.label | translate}}</a>
            </li>
        </ul>

        <ul
            nz-menu
            nzMode="inline"
            nzTheme="dark"
            (nzClick)="signOut()"
        >
            <li nz-menu-item>
                <i
                    nz-icon
                    nzType="logout"
                ></i>
                {{'SIGN_OUT' | translate}}
            </li>
        </ul>
    </nz-sider>

    <nz-layout>
        <nz-header>
            <div class="app-header">
                <span
                    class="header-trigger"
                    (click)="isCollapsed = !isCollapsed"
                >
                    <i
                        class="trigger"
                        nz-icon
                        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
                    ></i>
                </span>
            </div>
        </nz-header>
        <nz-content>
            <div class="inner-content">
                <div [@routeAnimations]="prepareRoute(outlet)">
                    <router-outlet #outlet="outlet"></router-outlet>
                </div>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>
