<section class="dashboard-component">
    <h1>{{'DASHBOARD' | translate}}</h1>

    <nz-row [nzGutter]="16">
        <nz-col
            nzSpan="24"
            nzSm="12"
        >
            <nz-card>
                <nz-statistic
                    [nzValue]="(usersCount$ | async | number)! || 0"
                    [nzTitle]="'USERS' | translate"
                ></nz-statistic>
            </nz-card>
        </nz-col>
        <nz-col
            nzSpan="24"
            nzSm="12"
        >
            <nz-card>
                <nz-statistic
                    [nzValue]="(currentTodosCount$ | async | number)! || 0"
                    [nzTitle]="('ACTIVE' | translate) + ' ' + ('TODOS' | translate)"
                ></nz-statistic>
            </nz-card>
            <div class="stat-actions">
                <a
                    nz-button
                    routerLink="/todos"
                >
                    <i
                        nz-icon
                        nzType="unordered-list"
                    ></i>
                    {{'SHOW_ALL' | translate}}
                </a>
                <a
                    nz-button
                    nzType="primary"
                    nzGhost
                    routerLink="/todos/add"
                >
                    <i
                        nz-icon
                        nzType="appstore-add"
                    ></i>
                    {{'ADD_TODO' | translate}}
                </a>
            </div>
        </nz-col>
    </nz-row>
</section>
