.dashboard-component {
    .ant-card {
        margin-bottom: 10px;
    }

    .stat-actions {
        display: flex;
        flex-wrap: wrap;

        a {
            width: 100%;
        }

        :first-child {
            margin-bottom: 10px;
        }
    }
}

// MEDIA QUERIES
@media(min-width: 576px) {
    .dashboard-component {
        .stat-actions {
            justify-content: flex-end;
            flex-wrap: nowrap;

            a {
                width: initial;
            }

            :first-child {
                margin-right: 10px;
                margin-bottom: 0;
            }
        }
    }
}