<section class="todo-component">
    <button
        *ngIf="isEdit"
        type="button"
        style="float: right"
        nz-button
        nzDanger
        [nzLoading]="deleting"
        nz-popconfirm
        nzPopconfirmTitle="Are you sure?"
        [nzOkText]="'DELETE' | translate"
        [nzCancelText]="'CANCEL' | translate"
        (nzOnConfirm)="deleteTodo()"
    >
        <i
            nz-icon
            nzType="delete"
        ></i>
        {{(deleting ? 'DELETING' : 'DELETE') | translate}}
    </button>

    <h1>
        {{(isEdit ? 'EDIT' : 'ADD_TODO') | translate}}
    </h1>

    <nz-spin [nzSpinning]="isEdit && todoForm.invalid">
        <form
            nz-form
            nzLayout="vertical"
            [formGroup]="todoForm"
            (ngSubmit)="isEdit ? updateTodo() : addTodo()"
        >
            <nz-form-item>
                <nz-form-label>{{'NAME' | translate}}</nz-form-label>

                <nz-form-control
                    [nzValidatingTip]="(name?.value?.length || 0) + '/100'"
                    [nzErrorTip]="'VALUE_IS_REQUIRED' | translate: ({value: 'NAME' | translate})"
                >
                    <input
                        nz-input
                        formControlName="name"
                        [placeholder]="'ENTER_VALUE' | translate: ({value: 'NAME' | translate | lowercase})"
                    >
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label>{{'DESCRIPTION' | translate}}</nz-form-label>

                <nz-form-control [nzErrorTip]="'VALUE_IS_REQUIRED' | translate: ({value: 'DESCRIPTION' | translate})">
                    <textarea
                        nz-input
                        formControlName="description"
                        [placeholder]="'ENTER_VALUE' | translate: ({value: 'DESCRIPTION' | translate | lowercase})"
                        rows="2"
                    ></textarea>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label>{{'TIMESPAN' | translate}}</nz-form-label>

                <nz-form-control [nzErrorTip]="'VALUE_IS_REQUIRED' | translate: ({value: 'TIMESPAN' | translate})">
                    <nz-range-picker formControlName="range"></nz-range-picker>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label>{{'USER' | translate}}</nz-form-label>

                <nz-form-control [nzErrorTip]="'VALUE_IS_REQUIRED' | translate: ({value: 'USER' | translate})">
                    <nz-select
                        nzShowSearch
                        nzAllowClear
                        [nzPlaceHolder]="'SELECT_VALUE' | translate: ({value: 'USER' | translate | lowercase})"
                        formControlName="userId"
                    >
                        <nz-option
                            *ngFor="let user of users$ | async"
                            [nzLabel]="user.firstName + ' ' + user.lastName + ' (' + user.role + ')'"
                            [nzValue]="user.id"
                        ></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control>
                    <button
                        type="submit"
                        nz-button
                        nzType="primary"
                        [nzLoading]="loading"
                        [disabled]="!todoForm.valid || loading"
                    >
                        {{(isEdit && loading ? 'UPDATING' : isEdit ? 'UPDATE' : 'ADD') | translate}}
                    </button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </nz-spin>

    <a
        routerLink="/todos"
        nz-button
        nzType="link"
        style="padding-left: 0;"
    >
        <i
            nz-icon
            nzType="arrow-left"
            nzTheme="outline"
        ></i>
        {{'TODOS' | translate}}
    </a>
</section>
