<section class="todos-component">
    <h1>{{'TODOS' | translate}}</h1>

    <a
        routerLink="add"
        nz-button
        nzType="primary"
        nzGhost
        style="margin-bottom: 20px;"
    >
        <i
            nz-icon
            nzType="appstore-add"
        ></i>
        {{'ADD_TODO' | translate}}
    </a>

    <nz-table
        #todosTable
        [nzData]="todos$ | async"
        [nzLoading]="loader.loading"
    >
        <thead>
            <tr>
                <th>{{'NAME' | translate}}</th>
                <th>{{'DESCRIPTION' | translate}}</th>
                <th>{{'STATUS' | translate}}</th>
                <th>{{'USER' | translate}}</th>
                <th>{{'ACTION' | translate}}</th>
            </tr>
        </thead>

        <tbody>
            <ng-container *ngFor="let todo of todosTable.data">
                <tr>
                    <td>{{ todo.name }}</td>
                    <td>{{ todo.description }}</td>
                    <td>
                        <ng-container *ngIf="todo.status !== null && todo.status !== undefined; else notStarted">
                            <i
                                nz-icon
                                nz-tooltip
                                [nzTooltipTitle]="(todo.status ? 'FINISHED' : 'IN_PROGRESS') | translate"
                                [nzType]="todo.status ? 'check-circle' : 'clock-circle'"
                                [ngClass]="{'success': todo.status, 'warning': todo.status === false}"
                            ></i>
                        </ng-container>
                        <ng-template #notStarted>--</ng-template>
                    </td>
                    <td>
                        {{ todo.user.firstName }} {{ todo.user.lastName }} ({{ todo.user.role }})
                    </td>
                    <td>
                        <a
                            [routerLink]="['edit', todo.id]"
                            nzButton
                            nzType="link"
                        >
                            <i
                                nz-icon
                                nzType="edit"
                            ></i>
                            {{'EDIT' | translate}}
                        </a>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </nz-table>
</section>
